kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-deployment
  namespace: wl-ns
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app : backend-pod
  template:
    metadata:
      labels:
        app: backend-pod
    spec:
      containers:
        - name: wl-backend
          image: g0u74m/wanderlust-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: mongo_uri

            - name: CORS_ORIGIN
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: cors-origin
